body {
  font-size: 20px;
  font-family: Roboto;
  color: white;
  background-color: #333333;
  box-sizing: border-box;
}

.users,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user {
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user > div {
  margin-top: 1rem;
  color: #ccc;
}

p {
  color: white;
  font-size: 12px;
}
